{% extends 'main/layoute.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать в мой проект Django</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Добро пожаловать в мой проект Django</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">О проекте</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>О проекте</h2>
            <p>Этот проект создан с использованием Django, высокоуровневого веб-фреймворка на Python, который способствует быстрому развитию и чистому, прагматичному дизайну.</p>
            <p>Изучите возможности и особенности этого проекта, перемещаясь по меню. Мы надеемся, что вы найдете его полезным и информативным.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Мой проект на Django. Все права защищены.</p>
    </footer>
</body>
</html>